
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button  color="accent" routerLink="home" >
      <mat-icon>home</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" >
      <mat-icon>Insurance Types</mat-icon>
    </button>
    <span class="example-spacer"></span>
   
  
    <span class="example-spacer"></span>
    <button mat-icon-button   routerLink="product" >
      <mat-icon> local_hospital</mat-icon>
    </button>
<span class="example-spacer"></span>
<button mat-button routerLink="materialEamples">
  <mat-icon> contact_phone</mat-icon>
</button>
    
    <span class="example-spacer"></span>
    <button mat-icon-button >
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>